@tailwind base;
@tailwind components;
@tailwind utilities;

/* default settings */

@font-face {
  font-family: "DrukBoldTrial";
  src: url("../font/Druk-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "DrukMediumTrial";
  src: url("../font/Druk-Medium-Trial.otf") format("opentype");
}

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* color */

  --mainColor: #f5efe7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* component style */

.section-without-minheight {
  @apply relative w-screen;
}

.section-minheight {
  @apply relative w-screen min-h-screen;
}
